---
interface Props {
	image: string;
	imageAlt?: string;
	phrases: string[];
	imagePosition?: 'left' | 'right';
}

const { image, imageAlt = "", phrases, imagePosition = 'right' } = Astro.props;

const isImageRight = imagePosition === 'right';
---

<section class="relative py-8 md:py-16 2xl:py-20">
	<div class:list={[
		"grid grid-cols-1 md:grid-cols-12",
		isImageRight ? "" : "md:grid-flow-col-dense"
	]}>
		<!-- Text Content -->
		<div class:list={[
			"md:col-span-8 flex flex-col justify-center py-12 md:py-16",
			isImageRight ? "md:order-1" : "md:order-2"
		]}>
			<div class="space-y-4">
				{phrases.map((phrase) => (
					<p class="pl-4 lg:pl-8 xl:pl-16 bg-linear-to-r from-verde-deg-1 from-10% to-verde-deg-2 text-white py-4 px-6 text-lg md:text-xl lg:text-2xl xl:text-3xl font-medium">
						{phrase}
					</p>
				))}
			</div>
		</div>

		<!-- Image -->
		<div class:list={[
			"md:col-span-4 relative min-h-96 md:min-h-[400px]",
			isImageRight ? "md:order-2" : "md:order-1"
		]}>
			<img
				src={image}
				alt={imageAlt}
				class="w-full h-96 md:h-full object-cover"
			/>
			<!-- Gradient overlay -->
			<div class:list={[
				"absolute inset-0 pointer-events-none",
			]}></div>
		</div>
	</div>
</section>
