---
import CTAArrow from "@/components/CTAArrow.astro";
import HeaderTitle from "@/components/HeaderTitle.astro";
import FounderRight from "@/components/FounderRight.astro";
import FounderLeft from "@/components/FounderLeft.astro";
---

<section id="fundadores" class="mb-16">
	<!-- Section Header -->
	<HeaderTitle title="Fundadores" />

	<!-- Content -->
	<FounderRight />

	<CTAArrow name="Jorge Mirchak" direction="left" />

	<FounderLeft />

	<CTAArrow name="Matías Orduña" direction="right" />
</section>
