---

---

<section id="mision">
	<!-- Arrow + Image Container -->
	<div class="relative flex items-stretch -mt-4 lg:-mt-8">
		<!-- Arrow SVG -->
		<div class="overflow-hidden max-md:hidden w-[28%] lg:w-[64rem] xl:w-[76rem] 2xl:w-[90rem] absolute z-10 -top-64 -left-96 shrink-0 self-stretch">
			<img
				src="/assets/elements/arrow-left-white.svg"
				alt="Elemento decorativo"
				class="h-full w-full object-cover object-right opacity-50"
			/>
		</div>

		<!-- Image with diagonal cut that continues from arrow -->
		<div class="grow relative md:ml-20 xl:ml-64 2xl:ml-[26rem]">
			<div
				class="scale-200 xs:scale-150 sm:scale-100 h-28 xs:h-36 sm:h-44 md:h-full w-full lg:w-[64rem] xl:w-[82rem] 2xl:w-[88rem] shadow-xl md:[clip-path:polygon(30%_0,100%_0,100%_100%,0%_100%)] xl:[clip-path:polygon(25%_0,100%_0,100%_100%,0%_100%)] 2xl:[clip-path:polygon(27%_0,100%_0,100%_100%,0%_100%)]"
			>
				<img
					src="/assets/images/cantonFairReunion.png"
					alt="Misión en la Feria de Cantón"
					class="w-full h-full object-cover object-top-right min-h-28 xs:min-h-36 sm:min-h-44 md:min-h-64 max-h-80 2xl:min-h-72 2xl:max-h-96"
				/>
			</div>
		</div>
	</div>

	<!-- Text Content -->
	<div class="container mx-auto px-4 md:px-12 mt-20 sm:mt-8 lg:mt-10">
		<div class="flex justify-end">
			<div class="sm:max-w-3xl xl:max-w-4xl text-center sm:text-right pb-20">
				<p class="text-base xs:text-lg md:text-xl xl:text-2xl 2xl:text-3xl font-bold leading-relaxed">
					<span class="text-crema">Brindamos acompañamiento integral a empresas y emprendedores regionales</span>
					que buscan ingresar y expandir sus negocios al <span class="text-crema">mercado internacional,</span>
					con <span class="text-crema">foco en China y la Feria de Cantón,</span>
						ofreciendo asesoramiento técnico, cultural, estratégico y operativo.
				</p>
				<hr class="my-8 opacity-50 border-b-3 border-white" />
				<div class="font-normal text-white text-base xs:text-lg md:text-xl xl:text-2xl 2xl:text-3xl">
					<p>Guiamos, formamos y acompañamos a nuestros clientes antes, durante y después de su experiencia en la Feria de Cantón.</p>
					<br/>
					<p>Los preparamos para construir relaciones comerciales sostenibles.</p>
				</div>
			</div>
		</div>
	</div>
</section>
