---

---


<div id="proposito" class="relative pt-8 md:pt-12 lg:pt-16">
	<!-- Image positioned absolute behind -->
	<div class="lg:absolute right-0 top-0 h-44 sm:h-56 md:h-72 lg:h-full w-[32rem] xs:w-full lg:w-[54%] ">
		<div
			class="h-full lg:[clip-path:polygon(0_0,100%_0,100%_100%,45%_100%)]"
		>
			<img
				src="/assets/images/IMG_6834.JPG"
				alt="Nuestro propósito"
				class="w-full h-full object-cover object-center lg:object-bottom-left"
			/>
		</div>
	</div>

	<!-- Text Content -->
	<div class="container mx-auto px-4 md:px-12 relative z-10">
		<div class="font-medium pt-10 pb-16 text-semi-black space-y-4">
			<p class="text-base xs:text-base md:text-lg xl:text-xl lg:max-w-xs xl:max-w-sm">
				En <span class="font-bold">B to B Comex</span><br class="hidden lg:block" />
				nos impulsa la satisfacción
				por ver crecer a las personas
				y a sus negocios.
			</p>

			<p class="text-base xs:text-base md:text-lg xl:text-xl lg:max-w-sm xl:max-w-lg">
				Nos motiva potenciar nuevas
				oportunidades y ser parte activa
				del crecimiento de quienes confían
				en nosotros.
			</p>

			<p class="text-base xs:text-base md:text-lg xl:text-xl lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
				<span class="font-bold">Nuestro propósito</span> es brindar tranquilidad y
				confianza a quienes buscan expandirse al mundo,
				sabiendo que detrás hay un equipo profesional que
				disfruta de lo que hace y celebra cada éxito como propio.
			</p>
		</div>
	</div>
</div>

