---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import HeaderTitle from "@/components/HeaderTitle.astro";
import CTAExperience from "@/components/canton-fair/CTAExperience.astro";
import ProgramForm from "@/components/canton-fair/ProgramForm.astro";
import Itinerary from "@/components/canton-fair/Itinerary.astro";
import FairSchedule from "@/components/canton-fair/FairSchedule.astro";

const preloadImages = [
	{
		href: "/assets/images/AAch03.jpg",
		as: "image",
		type: "image/jpeg",
	},
];
---

<Layout
	title="B TO B Comex - Feria de Cantón"
	canonical=""
	metaDescription="Conocé todo sobre la Feria de Cantón y cómo B TO B Comex puede ayudarte."
	metaImg="/assets/images/AAch03.jpg"
	preLoad={preloadImages}
>
	<Hero
		bgImage="/assets/images/AAch03.jpg"
		title="Tu puente entre <br /> el comercio y el mundo"
		showBottomBar={true}
	/>

	<HeaderTitle title="FERIA DE CANTÓN" isRed={true} />
	
	<CTAExperience />
	
	<ProgramForm />
	<section class="relative">
		<img
			src='/assets/images/hermosa-arquitectura-de-la-ciudad-de-taipei.jpg'
			alt=""
			class="h-[160rem] sm:h-[120rem] w-auto lg:w-full lg:h-auto -z-10 absolute top-0 xl:-top-40 2xl:-top-80 left-0 scale-x-[-1] object-cover object-top-center md:object-top-left"
		/>
	</section>
	
	<Itinerary />
	
	<FairSchedule />
</Layout>
