---
import Layout from "@/layouts/Layout.astro";

const preloadImages = [
	{
		href: "",
		as: "image",
		type: "image/webp",
	},
];
---

<Layout
	title=""
	canonical=""
	metaDescription=""
	metaImg=""
	preLoad={preloadImages}
>
	<section></section>
</Layout>
