---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";

const preloadImages = [
	{
		href: "/assets/images/canton-fair-2014-china.jpg",
		as: "image",
		type: "image/jpeg",
	},
];
---

<Layout
	title="B TO B Comex - Feria de Cantón"
	canonical=""
	metaDescription="Viví la Feria de Cantón Abril 2026 con B TO B Comex."
	metaImg="/assets/images/canton-fair-2014-china.jpg"
	preLoad={preloadImages}
>
	<Hero
		bgImage="/assets/images/canton-fair-2014-china.jpg"
		title="Viví la Feria de Cantón <br /> <span class='block mt-2'>Abril 2026</span>"
		showBottomBar={true}
	/>
</Layout>
