---
import Layout from "@/layouts/Layout.astro";
import HeroCaroussel from "@/components/HeroCaroussel.astro";

const preloadImages = [
	{
		href: "/assets/images/canton-fair-2014-china.jpg",
		as: "image",
		type: "image/jpeg",
	},
];
---

<Layout
	title="B TO B Comex - Feria de Cantón"
	canonical=""
	metaDescription="Viví la Feria de Cantón Abril 2026 con B TO B Comex."
	metaImg="/assets/images/canton-fair-2014-china.jpg"
	preLoad={preloadImages}
>
	<HeroCaroussel
		bgImages={[
			"/assets/images/canton-fair-2014-china.jpg",
			"/assets/images/canton2.png",
			"/assets/images/IMG_7912.jpeg",
			
		]}
		title="Viví la Feria de Cantón <br /> <span class='block mt-2'>Abril 2026</span>"
	/>
</Layout>
