---
---

<div class="bg-white shadow-xl p-6 lg:p-8 w-full max-w-md relative">
	<!-- Form Header -->
	<h3 class="text-lg sm:text-xl text-center font-semibold bg-linear-to-r from-button-deg-1 to-button-deg-2 text-white px-2 sm:px-4 py-2 sm:py-3 mb-6">
		Contáctanos
	</h3>

	<form class="space-y-4">
		<div>
			<input
				type="text"
				placeholder="Nombre y Apellido"
				class="w-full border-b-2 border-verde-claro py-2 focus:outline-none focus:border-verde-deg-1"
			/>
		</div>

		<div>
			<input
				type="email"
				placeholder="E-mail"
				class="w-full border-b-2 border-verde-claro py-2 focus:outline-none focus:border-verde-deg-1"
			/>
		</div>

		<div>
			<input
				type="tel"
				placeholder="Teléfono"
				class="w-full border-b-2 border-verde-claro py-2 focus:outline-none focus:border-verde-deg-1"
			/>
		</div>

		<div>
			<textarea
				rows="3"
				placeholder="Mensaje"
				class="w-full border-b-2 border-verde-claro py-2 focus:outline-none focus:border-verde-deg-1 resize-none"
			></textarea>
		</div>

		<!-- Submit Button -->
		<button
			type="submit"
			class="w-full bg-linear-to-r from-crema-deg-1 from-0% to-verde-deg-2 hover:to-verde-deg-1 cursor-pointer text-white py-3 font-semibold transition-colors mt-4"
		>
			Enviar
		</button>
	</form>
</div>
