---
import ContactForm from "./ContactForm.astro";
---

<section class="relative bg-linear-to-t from-crema-deg-1 from-0% to-verde-deg-1 py-16 lg:py-24 overflow-hidden">
	<!-- Arrow Left -->
	<div class="absolute top-0 left-0 w-[30%] sm:w-[60%] lg:w-[40%] pointer-events-none hidden md:block">
		<img
			src="/assets/elements/arrow-left-white.svg"
			alt=""
			class="h-full w-full object-cover object-right opacity-20"
		/>
	</div>

	

	<div class="container mx-auto px-4 md:px-12 relative z-10">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
			<!-- Columna izquierda: Información + Dirección -->
			<div>
				<!-- Información de Contacto -->
				<div class="text-center mb-16">
					<h2 class="text-lg md:text-2xl lg:text-3xl font-bold text-white mb-10">
						Información
					</h2>

					<div class="space-y-4 max-w-2xl mx-auto font-semibold">
						<!-- Teléfonos -->
						<div class="flex items-center justify-center gap-2 sm:gap-4">
							<img src="/assets/icons/contact/icon-phone.svg" alt="Teléfono" class="w-6 h-6" />
							<p class="text-white text-base md:text-lg">
								+54 9 261 4534280
							</p>
						</div>
						<div class="flex items-center justify-center gap-2 sm:gap-4">
							<img src="/assets/icons/contact/icon-phone.svg" alt="Teléfono" class="w-6 h-6" />
							<p class="text-white text-base md:text-lg">
								+54 9 261 5260461
							</p>
						</div>

						<!-- Email -->
						<div class="flex items-center justify-center gap-4">
							<img src="/assets/icons/contact/icon-email.svg" alt="Email" class="w-6 h-6" />
							<a href="mailto:info@btobcomex.com.ar" class="text-white text-base md:text-lg hover:underline">
								info@btobcomex.com.ar
							</a>
						</div>
					</div>
				</div>

				<!-- Dirección -->
				<div class="text-center mt-16 relative">
					
					<h2 class="text-lg md:text-2xl lg:text-3xl font-bold text-white mb-8">
						Dirección
					</h2>

					<div class="space-y-6 max-w-3xl mx-auto font-semibold">
						<!-- Chile -->
						<div class="inline-flex items-center gap-4">
							<img src="/assets/icons/contact/icon-map.svg" alt="Ubicación" class="w-6 h-6 mt-1" />
							<p class="text-white text-base md:text-lg text-left">
								Oficina en Chile: Los Militares 5620 Oficina 905,<br />
								Las Condes, Región Metropolitana de Santiago.
							</p>
						</div>
						
						<!-- Argentina -->
						<div class="inline-flex items-center gap-4">
							<img src="/assets/icons/contact/icon-map.svg" alt="Ubicación" class="w-6 h-6 mt-1" />
							<p class="text-white text-base md:text-lg text-left">
								Oficina en Argentina: Gibraltar 2825, Godoy Cruz, Mendoza.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Columna derecha: Formulario -->
			<div class="flex justify-center lg:justify-end mt-8 lg:mt-0">
				<!-- Arrow Right -->
				<div class="absolute max-lg:bottom-32 lg:-top-12 -right-40 lg:right-0 w-[30%] sm:w-[60%] lg:w-[50%] pointer-events-none hidden md:block">
					<img
						src="/assets/elements/arrow-right.svg"
						alt=""
						class="h-full w-full object-cover object-top-left opacity-20"
					/>
				</div>
				<ContactForm />
			</div>
		</div>
	</div>
</section>
