---
---

<footer
	class="bg-linear-to-r from-verde-deg-1 to-verde-deg-2 text-white py-8 lg:py-12 font-montserrat"
>
	<div class="container mx-auto px-4 md:px-12">
		<div
			class="flex flex-col md:flex-row items-center md:items-start justify-between gap-8 md:gap-10"
		>
			<!-- Logo izquierda -->
			<div class="md:w-1/3 flex justify-center md:justify-start">
				<img
					src="/assets/logos/logo-mini-white.svg"
					alt="B TO B Comex"
					class="h-16 md:h-20 xl:h-24"
				/>
			</div>

			<!-- Datos de contacto + web centro -->
			<div class="md:w-1/3 flex flex-col items-center text-center gap-3">
				<div
					class="flex flex-col md:flex-row items-center gap-3 text-base sm:text-lg font-light"
				>
					<div class="flex max-2xl:flex-col gap-3">
						<div class="inline-flex gap-2">
							<img
								src="/assets/icons/contact/icon-tel.svg"
								alt="Teléfono"
								class="size-4 sm:size-6 xl:size-8"
							/>
							<span>+54 9 261 4534280</span>
						</div>
						<span class="hidden 2xl:block">/</span>
						<div class="inline-flex gap-2">
							<img
								src="/assets/icons/contact/icon-tel.svg"
								alt="Teléfono"
								class="2xl:hidden size-4 sm:size-6"
							/>
							<span>+54 9 261 5260461</span>
						</div>
					</div>
				</div>
				<div
					class="flex items-center gap-3 text-base sm:text-lg font-light"
				>
					<img
						src="/assets/icons/contact/icon-email.svg"
						alt="Email"
						class="size-4 sm:size-6"
					/>
					<a href="mailto:info@btobcomex.com" class="hover:underline"
						>info@btobcomex.com</a
					>
				</div>
				<div
					class="text-lg sm:text-xl sm:tracking-widest font-light"
				>
					www.btobcomex.com
				</div>
			</div>

			<!-- Redes sociales derecha -->
			<div class="md:w-1/3 flex justify-center md:justify-end mt-4 md:mt-0">
				<div class="flex gap-4">
					<a href="#" class="hover:opacity-80 transition-opacity">
						<img
							src="/assets/icons/social/icon-linkedin.svg"
							alt="LinkedIn"
							class="size-8 md:size-10"
						/>
					</a>
					<a href="#" class="hover:opacity-80 transition-opacity">
						<img
							src="/assets/icons/social/icon-instagram.svg"
							alt="Instagram"
							class="size-8 md:size-10"
						/>
					</a>
					<a href="#" class="hover:opacity-80 transition-opacity">
						<img
							src="/assets/icons/social/icon-facebook.svg"
							alt="WhatsApp"
							class="size-8 md:size-10"
						/>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
