---

---

<footer
	class="bg-linear-to-r from-verde-deg-1 to-verde-deg-2 text-white py-8 lg:py-10 font-montserrat"
>
	<div class="container mx-auto px-4 md:px-12 max-sm:mb-20">
		<div
			class="flex flex-col md:flex-row justify-between items-center mb-10 md:mb-16 xl:mb-20 gap-8"
		>
			<!-- Social Icons -->
			<div class="flex gap-6 order-2 md:order-1">
				<a href="#" class="hover:opacity-80 transition-opacity">
					<img
						src="/assets/icons/social/icon-linkedin.svg"
						alt="LinkedIn"
						class="size-10 md:size-12 xl:size-16"
					/>
				</a>
				<a href="#" class="hover:opacity-80 transition-opacity">
					<img
						src="/assets/icons/social/icon-instagram.svg"
						alt="Instagram"
						class="size-10 md:size-12 xl:size-16"
					/>
				</a>
				<a href="#" class="hover:opacity-80 transition-opacity">
					<img
						src="/assets/icons/social/icon-whatsapp.svg"
						alt="WhatsApp"
						class="size-10 md:size-12 xl:size-16"
					/>
				</a>
			</div>

			<!-- Logo -->
			<div class="order-1 md:order-2">
				<img
					src="/assets/logos/logo-mini-white.svg"
					alt="B TO B Comex"
					class="h-24 md:h-22 xl:h-28"
				/>
			</div>
		</div>

		<!-- Contact Info -->
		<div class="flex flex-col items-center gap-6 mb-6 sm:mb-8 xl:mb-10">
			<div
				class="flex flex-col md:flex-row items-center gap-3 text-lg sm:text-xl xl:text-2xl font-light"
			>
				<div class="flex max-sm:flex-col gap-3">
					<div class="inline-flex gap-2">
						<img
							src="/assets/icons/contact/icon-tel.svg"
							alt="Teléfono"
							class="size-4 sm:size-6 xl:size-8"
						/>
						<span>+54 9 261 4534280</span>
					</div>
					<span class="hidden sm:block">/</span>
					<div class="inline-flex gap-2">
						<img
							src="/assets/icons/contact/icon-tel.svg"
							alt="Teléfono"
							class="sm:hidden size-4 sm:size-6 xl:size-8"
						/>
						<span>+54 9 261 5260461</span>
					</div>
				</div>
			</div>
			<div
				class="flex items-center gap-4 text-lg sm:text-xl xl:text-2xl font-light"
			>
				<img
					src="/assets/icons/contact/icon-email.svg"
					alt="Email"
					class="size-4 sm:size-6 xl:size-8"
				/>
				<a href="mailto:info@btobcomex.com" class="hover:underline"
					>info@btobcomex.com</a
				>
			</div>
		</div>

		<!-- Website -->
		<div
			class="text-center text-xl sm:text-2xl xl:text-3xl sm:tracking-widest font-light"
		>
			www.btobcomex.com
		</div>
	</div>
</footer>
