<section class="py-8 sm:py-16">
	<div class="flex flex-col lg:flex-row gap-12 items-center lg:items-start">
		<!-- Image Column -->
		<div class="flex-1 sm:max-w-sm lg:max-w-md order-2 lg:order-1">
			<div class="relative">
				<img
					src="/assets/images/jm.png"
					alt="Jorge Mirchak"
					class="w-full h-auto object-cover grayscale"
				/>
				<div
					class="bg-verde-deg-2 text-white py-4 px-6 text-center font-bold text-xl mt-4"
				>
					Co-fundador B to B Comex.
				</div>
			</div>
		</div>

		<!-- Text Column -->
		<div class="flex-1 order-1 lg:order-2 md:text-right">
			<div class="bg-semi-black text-white py-4 mb-8 inline-block w-full">
				<h3 class="max-md:pl-16 md:pr-16 text-xl md:text-2xl lg:text-3xl font-bold">Jorge Mirchak</h3>
			</div>

			<div class="px-4 sm:px-16 prose prose-lg text-gray-800 max-w-none ml-auto">
				<p class="font-bold italic text-lg md:text-xl mb-6">
					Empresario y consultor internacional.
				</p>
				<p class="text-sm xs:text-base xl:text-xl mb-6 font-medium">
					Cuento con experiencia en diversos sectores y en proyectos
					internacionales desarrollados para gobiernos y organismos
					como el BID y el Banco Mundial. Ese recorrido me brindó una
					visión macro y una trazabilidad completa de los procesos que
					necesita cualquier emprendedor para optimizar recursos y
					alcanzar resultados.
				</p>
				<p class="text-sm xs:text-base xl:text-xl mb-6 font-medium">
					También tengo amplia experiencia en logística de viajes y en
					la dinámica cultural de ferias y expos internacionales,
					gracias a mi trabajo en la organización integral de eventos
					a través de mi productora. Este camino reforzó mi confianza
					en los procesos metódicos, las metas realistas y la
					importancia de construir relaciones de largo plazo.
				</p>
				<p class="text-sm xs:text-base xl:text-xl font-medium">
					Hoy pongo ese expertise al servicio de quienes ven
					oportunidades en el mundo y quieren salir a buscarlas.
				</p>
			</div>
		</div>
	</div>
</section>
