---
interface Props {
	title: string;
	isRed?: boolean;
	id?:string;
}

const { title, isRed = false, id } = Astro.props;
---

<section
	id={id}
	class:list={[
		"relative z-20 bg-linear-to-r pt-16 pb-8 px-4 md:px-12",
		isRed ? "from-rojo-deg-1 from-40% to-black" : "from-verde-deg-1 via-verde-deg-2 to-white"
	]}
>
	<div class="container mx-auto">
		<h2
			class="uppercase text-4xl lg:text-5xl font-light italic text-white"
		>
			{title}
		</h2>
	</div>
</section>
