---
interface Props {
	title: string;
	isRed?: boolean;
	id?:string;
}

const { title, isRed = false, id } = Astro.props;
---

<section
	id={id}
	class:list={[
		"relative z-20 bg-linear-to-r pt-8 pb-4 sm:pt-16 sm:pb-8 px-4 md:px-12",
		isRed ? "from-rojo-deg-1 from-40% to-black" : "from-verde-deg-1 via-verde-deg-2 to-white"
	]}
>
	<div class="container mx-auto">
		<h2
			class="uppercase text-xl sm:text-2xl lg:text-3xl xl:text-4xl font-normal italic text-white"
		>
			{title}
		</h2>
	</div>
</section>
