---
const currentPath = Astro.url.pathname;

const isActive = (path: string) => {
	if (path === '/') return currentPath === '/';
	return currentPath.startsWith(path);
};
---

<header id="main-header" class="fixed top-0 z-50 w-full transition-colors duration-300">
	<section
		class="container mx-auto py-6 px-4 lg:px-6 xl:px-12 flex justify-between items-center text-white"
	>
		<a href="/" class="flex items-center gap-2">
			<img
				src="/assets/logos/logo-color.svg"
				alt="B TO B Comex"
				class="h-12 lg:h-12 xl:h-16"
			/>
		</a>

		<nav class="hidden lg:block">
			<ul
				class="flex items-center gap-4 xl:gap-8 font-medium lg:font-medium xl:font-semibold text-base lg:text-base xl:text-lg 2xl:text-xl"
			>
				<li class="relative group">
					<a
						href="/about"
						class:list={[
							"flex items-center gap-1 hover:text-gray-200 py-2",
							isActive('/about') && "text-verde-claro"
						]}
					>
						Quienes somos
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="w-4 h-4"><path d="m6 9 6 6 6-6"></path></svg
						>
					</a>
					<!-- Dropdown -->
					<div
						class="absolute top-full left-0 mt-0 w-48 lg:w-56 xl:w-80 bg-verde-claro-2 text-white shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 overflow-hidden"
					>
						<ul class="flex flex-col">
							<li>
								<a
									href="/about#fundadores"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Fundadores</a
								>
							</li>
							<li>
								<a
									href="/about#mision"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Misión</a
								>
							</li>
							<li>
								<a
									href="/about#vision"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Visión</a
								>
							</li>
							<li>
								<a
									href="/about#valores"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Valores</a
								>
							</li>
							<li>
								<a
									href="/about#proposito"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Propósito</a
								>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a 
						href="/canton-fair" 
						class:list={[
							"hover:text-gray-200 transition-colors",
							isActive('/canton-fair') && "text-verde-claro"
						]}
					>Feria de Cantón</a>
				</li>
				<li class="relative group">
					<a
						href="/services"
						class:list={[
							"flex items-center gap-1 hover:text-gray-200 py-2",
							isActive('/services') && "text-verde-claro"
						]}
					>
						Servicios
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="w-4 h-4"><path d="m6 9 6 6 6-6"></path></svg
						>
					</a>
					<!-- Dropdown -->
					<div
						class="absolute top-full left-0 mt-0 w-48 lg:w-56 xl:w-96 bg-verde-claro-2 text-white shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 overflow-hidden"
					>
						<ul class="flex flex-col">
							<li>
								<a
									href="/services#documentation"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Gestión Documental</a
								>
							</li>
							<li>
								<a
									href="/services#logistics"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Logística Internacional</a
								>
							</li>
							<li>
								<a
									href="/services#consultancy"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Consultoría en Comercio Internacional</a
								>
							</li>
							<li>
								<a
									href="/services#incoterms"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Gestión de Incoterms</a
								>
							</li>
							<li>
								<a
									href="/services#export"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Servicios de Exportación</a
								>
							</li>
							<li>
								<a
									href="/services#import"
									class="block px-4 py-3 hover:bg-verde-deg-1 border border-white"
									>Servicios de Importación</a
								>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a 
						href="/contact" 
						class:list={[
							"hover:text-gray-200 transition-colors",
							isActive('/contact') && "text-verde-claro"
						]}
					>Contacto</a>
				</li>
				<li>
					<a 
						href="/partners" 
						class:list={[
							"hover:text-gray-200 transition-colors",
							isActive('/partners') && "text-verde-claro"
						]}
					>Partners estratégicos</a>
				</li>
			</ul>
		</nav>

		<!-- Mobile Menu Button (Placeholder) -->
		<button class="lg:hidden text-white">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
			</svg>
		</button>
	</section>
</header>

<script>
	const header = document.getElementById('main-header');
	
	const handleScroll = () => {
		if (window.scrollY > 50) {
			header?.classList.add('bg-linear-to-r', 'from-verde-deg-black', 'to-verde-deg-2');
		} else {
			header?.classList.remove('bg-linear-to-r', 'from-verde-deg-black', 'to-verde-deg-2');
		}
	};

	// Ejecutar al cargar
	handleScroll();
	
	// Ejecutar al hacer scroll
	window.addEventListener('scroll', handleScroll);
</script>
