---

---

<a
	href="https://wa.me/5492614534280"
	target="_blank"
	rel="noopener noreferrer"
	class="fixed bottom-8 right-8 z-50 flex items-center gap-3 bg-white text-verde-deg-1 py-3 px-6 rounded-full shadow-lg hover:shadow-xl transition-all hover:-translate-y-1 group"
>
	<img
		src="/assets/icons/social/icon-whatsapp.svg"
		alt="WhatsApp"
		class="w-8 h-8"
	/>
	<span
		class="font-semibold text-lg group-hover:text-verde-deg-2 transition-colors"
		>Chatea con nosotros</span
	>
</a>
