---
interface Partner {
	name: string;
	logo: string;
}

const partners: Partner[] = [
	{
		name: "Pronave",
		logo: "/assets/logos/partners/logo-pronave.svg",
	}
];
---

<section class="bg-white py-16 lg:py-24">
	<div class="container mx-auto px-4 md:px-12">
		<div class="flex flex-wrap items-center justify-center gap-12 lg:gap-16">
			{partners.map((partner) => (
				(
					<img 
						src={partner.logo} 
						alt={partner.name} 
						class="h-6 md:h-8 lg:h-12 w-auto"
					/>
				)
			))}
		</div>
	</div>
</section>
